/* *{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-family: 'Calibri';
    overflow-y: hidden
} */

*{
    font-family: Calibri;
}

.home-section{
    background-color: white;
    border-bottom: 1px solid #cccccc;
    margin: 0px 12px 0px 90px;
    padding: 10px 0px 10px 0px;
    display: flex;
    flex-direction: column;
}
.home-section p{
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 10px;
}

/* MODAL */
.modal-title{
    font-size: 25px;
    color: rgb(24, 56, 132);
    display: flex;
    font-weight: bold;
}
.boxCredenciais p{
    margin-bottom: 0px;
}
form{
    display: flex;
    flex-direction: column;
    padding: 20px
}
.botao{
    background: transparent;
    height: 40px;
    width: 100%;
    border-radius: 5px;
    border: solid 1px #CCCCCC;
    padding: 0px 10px;
}
.botao:focus{
    outline: 0;
}
.boxCredenciais {
    display: flex;
    margin: 5px;
    flex-direction: column;
}
#boxNumeroApelido, #boxCargoArea{
    padding-top: 5px;
    display: flex;
    flex-direction: row;  
    justify-content: space-between;
}
.boxCredenciais #cargo, #area, #contato, #apelido{
    width: 65px;
}
#boxEmail{
    padding-top: 5px;
}