/* *{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-family: 'Calibri';
    overflow-y: hidden
} */

*{
    font-family: Calibri;
}

#titulo{
    font-weight: bold;
}

header{
    display: flex;
}
.home-section{
    position: relative;
    background-color: rgb(238, 238, 238);
    min-height: 100vh;
    top: 0;
    left: 78px;
    width: calc(100% - 78px);
    transition: all 0.5s ease;
}

.cabecario{
    height: 90px;
    width: 100%;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #cccccc;
    background-color: white;
    padding-left: 40px;
}
.cabecario h1{
    color: rgb(24, 56, 132);
    font-size: 28px;
    /* margin-left: 57px; */
    margin-right: 81px;
    font-weight: lighter;
}

/* CSS DO CONTEUDO */
.campos-gerais{
    margin: 15px;
    /* border: solid; */
    border-radius: 3px;
    background-color: white;
    min-height: 500px;
    padding: 15px;
}
.primeiro-campo{
    margin: 5px;
    /* border: solid; */
    min-height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.cabecariosecundario{
    /* display: flex; */
    margin: 15px;
    border-radius: 5px;
    /* background-color: white; */
    min-height: 80px;
    padding: 15px;
    align-items: center;
    /* justify-content: space-around; */
}
.campo-contadores{
    display: flex;
    justify-content: space-between;
}
.background-icon{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 60px;
    min-width: 60px;
    border-radius: 100%;
    background-color: rgb(15, 15, 77);
}
.icone-contador img{
    min-width: 35px;
    min-height: 35px;

}
.contador-1{
    padding: 15px;
    height: 85px;
    min-width: 260px;
    border-radius: 5px;
    background-color: rgb(24, 56, 132);
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
.contador-2{
    padding: 15px;
    height: 85px;
    min-width: 260px;
    border-radius: 5px;
    background-color: rgb(24, 56, 132);
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
.contador-3{
    padding: 15px;
    height: 85px;
    min-width: 260px;
    border-radius: 5px;
    background-color: rgb(24, 56, 132);
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
.contador-4{
    padding: 15px;
    height: 85px;
    min-width: 260px;
    border-radius: 5px;
    background-color: rgb(24, 56, 132);
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
.textos-contadores{
   
     display: flex;
     align-items: center;
     min-width: 60%;
}
.textos-contadores h3{
    font-size: 16px;
    margin-bottom: 0px;
    
}
.textos-contadores h2{
    font-size: 50px;
    margin-left: 15px;
}


.segundo-campo{
    margin: 5px;
    border: solid;
    min-height: 80px;
}

.Btn-cadastrar{
    display: flex;
    justify-content: flex-end;
}


/* div */
.search-box {
    position: absolute;
    top: 6%;
    left: 15.7%;
    transform: translate(-50%, -50%);
    background: rgb(24, 56, 132);
    height: 50px;
    border-radius: 2px;
    padding: 10px;
}

/* input */
.search-input {
    outline: none;
    border: none;
    background: none;
    width: 0;
    padding: 0;
    color: #fff;
    float: right;
    font-size: 16px;
    transition: .3s;
    line-height: 30px;
}

.search-input::placeholder {
    color: #dbc5b0;
}

/* icon */
.search-btn {
    color: #fff;
    float: right;
    width: 30px;
    height: 30px;
    border-radius: 50px;
    background: #183884;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    transition: .3s;
}

.search-input:focus,
.search-input:not(:placeholder-shown) {
width: 270px;
padding: 0 6px;
}

.search-box:hover > .search-input {
width: 270px;
padding: 0 6px;
}

.search-box:hover > .search-btn,
.search-input:focus + .search-btn,
.search-input:not(:placeholder-shown) + .search-btn {
background: #fff;
color: #183884;
}


.requestShiftLabel {
    display: inline-block;
    max-width: 0;
    overflow: hidden;
    transition: all 1s;
    border-radius: 100%;
}

button:hover .requestShiftLabel {
    min-width: 1000px;
}
.btn-expandable {
    border-radius: 50px;
}

/* TABELA DINAMICA */
table{
    width: 100%;
    padding-top: 10px;
    text-align: center;
    justify-items: center;
}
th{
    padding: 5px;
}
tr, td{
    text-align: center;
}
tfoot td{
    padding: 10px;
    background-color: #ebe8e8;
}
table, th, td{
    border-collapse: separate;
    border-spacing:0 10px;
}

/* MODAL */
.modal-title{
    font-size: 25px;
    color: rgb(24, 56, 132);
    display: flex;
    font-weight: bold;
}
.boxCredenciais p{
    margin-bottom: 0px;
}
form{
    display: flex;
    flex-direction: column;
    padding: 20px
}
.botao{
    background: transparent;
    height: 40px;
    width: 100%;
    border-radius: 5px;
    border: solid 1px #CCCCCC;
    padding: 0px 10px;
}
.botao:focus{
    outline: 0;
}
.boxCredenciais {
    display: flex;
    margin: 5px;
    flex-direction: column;
}
#boxNumeroApelido, #boxCargoArea{
    padding-top: 5px;
    display: flex;
    flex-direction: row;  
    justify-content: space-between;
}
#boxEmail{
    padding-top: 5px;
}