<%- include ('../partials/header.ejs') %>
<link rel="stylesheet" href="/css/salas.css">
<body>
    <%- include ('../partials/navbar.ejs') %>
    
    <section class="home-section">
        <div class="cabecario">

            <div>
              <h2 id="titulo">Salas</h2>
            </div>
            <div class="Search-button">
              <div class="search-box sala">
                <input type="text" class="search-input sala" placeholder="Pesquisar Sala">
                <a class="search-btn" href="#">
                  <i class="fas fa-search"></i>
                </a>
              </div>
            </div>
      
          </div>
        <section class="Area-principal">
            <div class="salas">
                <div class="Campos-Salas-superiores">
                    <div class="sala-1">
                        <div class="tituloSala1">
                            <div class="btn1">
                                <button><i><img src="../imagens/icon-edit.svg"></i></button>
                            </div>
                            
                            <div class="titulo">
                                <p>Sala 1</p>
                            </div>
                            <div class="btn1">
                                <button><i><img src="../imagens/icon-delete-white.svg"></i></button>
                            </div>
                            
                        </div>
                        <div class="conteudoSala">
                            <div class="campo1">
                                <div class="Quantidade">
                                    <div class="backgroundIcon">
                                        <i><img src="../imagens/icon-alunos.svg"></i>
                                    </div>
                                    <div class="tituloQuantidade">
                                        <h6>Quantidade Max.</h6>
                                    </div>
                                    <div class="numeroQuantidade">
                                        <h6>40</h6>
                                    </div>
                                </div>
                                <div class="Quantidade">
                                    <div class="backgroundIcon">
                                        <i><img src="../imagens/icon-escola.svg"></i>
                                    </div>
                                    <div class="tituloQuantidade">
                                        <h6>Área interna</h6>
                                    </div>
                                    <div class="numeroQuantidade">
                                        <h6>Sim</h6>
                                    </div>
                                </div>
                                <div class="Quantidade">
                                    <div class="backgroundIcon">
                                        <i><img src="../imagens/icon-chair.svg"></i>
                                    </div>
                                    <div class="tituloQuantidade">
                                        <h6>Lugares</h6>
                                    </div>
                                    <div class="numeroQuantidade">
                                        <h6>16</h6>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="sala-2">
                        <div class="tituloSala2">
                            <div class="btn2">
                                <button><i><img src="../imagens/icon-edit.svg"></i></button>
                            </div>
                            
                            <div class="titulo">
                                <p>Sala 2</p>
                            </div>
                            <div class="btn2">
                                <button><i><img src="../imagens/icon-delete-white.svg"></i></button>
                            </div>
                            
                        </div>
                        <div class="conteudoSala">
                            <div class="campo1">
                                <div class="Quantidade2">
                                    <div class="backgroundIcon2">
                                        <i><img src="../imagens/icon-alunos.svg"></i>
                                    </div>
                                    <div class="tituloQuantidade">
                                        <h6>Quantidade Max.</h6>
                                    </div>
                                    <div class="numeroQuantidade">
                                        <h6>40</h6>
                                    </div>
                                </div>
                                <div class="Quantidade2">
                                    <div class="backgroundIcon2">
                                        <i><img src="../imagens/icon-escola.svg"></i>
                                    </div>
                                    <div class="tituloQuantidade">
                                        <h6>Área interna</h6>
                                    </div>
                                    <div class="numeroQuantidade">
                                        <h6>Sim</h6>
                                    </div>
                                </div>
                                <div class="Quantidade2">
                                    <div class="backgroundIcon2">
                                        <i><img src="../imagens/icon-chair.svg"></i>
                                    </div>
                                    <div class="tituloQuantidade">
                                        <h6>Lugares</h6>
                                    </div>
                                    <div class="numeroQuantidade">
                                        <h6>16</h6>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="sala-3">
                        <div class="tituloSala3">
                            <div class="btn3">
                                <button><i><img src="../imagens/icon-edit.svg"></i></button>
                            </div>
                            
                            <div class="titulo">
                                <p>Sala 3</p>
                            </div>
                            <div class="btn3">
                                <button><i><img src="../imagens/icon-delete-white.svg"></i></button>
                            </div>
                            
                        </div>
                        <div class="conteudoSala">
                            <div class="campo1">
                                <div class="Quantidade3">
                                    <div class="backgroundIcon3">
                                        <i><img src="../imagens/icon-alunos.svg"></i>
                                    </div>
                                    <div class="tituloQuantidade">
                                        <h6>Quantidade Max.</h6>
                                    </div>
                                    <div class="numeroQuantidade">
                                        <h6>40</h6>
                                    </div>
                                </div>
                                <div class="Quantidade3">
                                    <div class="backgroundIcon3">
                                        <i><img src="../imagens/icon-escola.svg"></i>
                                    </div>
                                    <div class="tituloQuantidade">
                                        <h6>Área interna</h6>
                                    </div>
                                    <div class="numeroQuantidade">
                                        <h6>Sim</h6>
                                    </div>
                                </div>
                                <div class="Quantidade3">
                                    <div class="backgroundIcon3">
                                        <i><img src="../imagens/icon-chair.svg"></i>
                                    </div>
                                    <div class="tituloQuantidade">
                                        <h6>Lugares</h6>
                                    </div>
                                    <div class="numeroQuantidade">
                                        <h6>16</h6>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="Campos-Salas-Inferiores">
                    <div class="sala-4">
                        <div class="tituloSala4">
                            <div class="btn4">
                                <button><i><img src="../imagens/icon-edit.svg"></i></button>
                            </div>
                            
                            <div class="titulo">
                                <p>Sala 4</p>
                            </div>
                            <div class="btn4">
                                <button><i><img src="../imagens/icon-delete-white.svg"></i></button>
                            </div>
                            
                        </div>
                        <div class="conteudoSala">
                            <div class="campo1">
                                <div class="Quantidade4">
                                    <div class="backgroundIcon4">
                                        <i><img src="../imagens/icon-alunos.svg"></i>
                                    </div>
                                    <div class="tituloQuantidade">
                                        <h6>Quantidade Max.</h6>
                                    </div>
                                    <div class="numeroQuantidade">
                                        <h6>40</h6>
                                    </div>
                                </div>
                                <div class="Quantidade4">
                                    <div class="backgroundIcon4">
                                        <i><img src="../imagens/icon-escola.svg"></i>
                                    </div>
                                    <div class="tituloQuantidade">
                                        <h6>Área interna</h6>
                                    </div>
                                    <div class="numeroQuantidade">
                                        <h6>Sim</h6>
                                    </div>
                                </div>
                                <div class="Quantidade4">
                                    <div class="backgroundIcon4">
                                        <i><img src="../imagens/icon-chair.svg"></i>
                                    </div>
                                    <div class="tituloQuantidade">
                                        <h6>Lugares</h6>
                                    </div>
                                    <div class="numeroQuantidade">
                                        <h6>16</h6>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="sala-5">
                        <div class="tituloSala5">
                            <div class="btn5">
                                <button><i><img src="../imagens/icon-edit.svg"></i></button>
                            </div>
                            
                            <div class="titulo">
                                <p>Sala 5</p>
                            </div>
                            <div class="btn5">
                                <button><i><img src="../imagens/icon-delete-white.svg"></i></button>
                            </div>
                            
                        </div>
                        <div class="conteudoSala">
                            <div class="campo">
                                <div class="Quantidade5">
                                    <div class="backgroundIcon5">
                                        <i><img src="../imagens/icon-alunos.svg"></i>
                                    </div>
                                    <div class="tituloQuantidade">
                                        <h6>Quantidade Max.</h6>
                                    </div>
                                    <div class="numeroQuantidade">
                                        <h6>40</h6>
                                    </div>
                                </div>
                                <div class="Quantidade5">
                                    <div class="backgroundIcon5">
                                        <i><img src="../imagens/icon-escola.svg"></i>
                                    </div>
                                    <div class="tituloQuantidade">
                                        <h6>Área interna</h6>
                                    </div>
                                    <div class="numeroQuantidade">
                                        <h6>Sim</h6>
                                    </div>
                                </div>
                                <div class="Quantidade5">
                                    <div class="backgroundIcon5">
                                        <i><img src="../imagens/icon-chair.svg"></i>
                                    </div>
                                    <div class="tituloQuantidade">
                                        <h6>Lugares</h6>
                                    </div>
                                    <div class="numeroQuantidade">
                                        <h6>16</h6>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="sala-6">
                        <div class="tituloSala6">
                            <div class="btn6">
                                <button><i><img src="../imagens/icon-edit.svg"></i></button>
                            </div>
                            
                            <div class="titulo">
                                <p>Sala 6</p>
                            </div>
                            <div class="btn6">
                                <button><i><img src="../imagens/icon-delete-white.svg"></i></button>
                            </div>
                            
                        </div>
                        <div class="conteudoSala">
                            <div class="campo1">
                                <div class="Quantidade6">
                                    <div class="backgroundIcon6">
                                        <i><img src="../imagens/icon-alunos.svg"></i>
                                    </div>
                                    <div class="tituloQuantidade">
                                        <h6>Quantidade Max.</h6>
                                    </div>
                                    <div class="numeroQuantidade">
                                        <h6>40</h6>
                                    </div>
                                </div>
                                <div class="Quantidade6">
                                    <div class="backgroundIcon6">
                                        <i><img src="../imagens/icon-escola.svg"></i>
                                    </div>
                                    <div class="tituloQuantidade">
                                        <h6>Área interna</h6>
                                    </div>
                                    <div class="numeroQuantidade">
                                        <h6>Sim</h6>
                                    </div>
                                </div>
                                <div class="Quantidade6">
                                    <div class="backgroundIcon6">
                                        <i><img src="../imagens/icon-chair.svg"></i>
                                    </div>
                                    <div class="tituloQuantidade">
                                        <h6>Lugares</h6>
                                    </div>
                                    <div class="numeroQuantidade">
                                        <h6>16</h6>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

        </section>

</body>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script>
    axios.get('http://localhost:3333/classrooms')
        .then(response => {
        const salas = response.data;
        const list = document.getElementById('')
        });

</script>
<%- include ('../partials/footer.ejs') %>